/Analisis de Prueba.py
/ClaseFive.py
/datos.csv
/Datos.json
/Octava_Clase.PY
/POTMAN.JS
/primeros_datos.csv
/segundos_datos.csv
/SELECT.PY
/Selectores.py
/Septima_clase.py
/Sexta_clase.py
/Test.py
/test_tesEmaras.py
/__pycache__